@tailwind base;
@tailwind components;
@tailwind utilities;

.tracking-wider {
  content: "";
  background-color: rgba(0, 0, 255, 0.5);
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 1;
  transition: opacity 0.2s;
  display: inline-block;
}
.tracking-wider:before {
  content: "";
  background-color: rgba(0, 0, 255, 0.5);
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 1;
  transition: opacity 0.2s;
}
